body {
    background-color: #272038;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

canvas {
    border-radius: 4px;
}

textarea {
    border-radius: 4px;
    color: inherit;
    background-color: rgb(12, 3, 17);
}

button {
    border-radius: 4px;
    color: inherit;
    background-color: rgb(12, 3, 17);
}

input {
    border-radius: 4px;
    color: inherit;
    background-color: rgb(12, 3, 17);
}

.MainDiv {
    padding: 16px;
    border-radius: 16px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    margin-inline: auto;
    width: 60%;
    text-shadow: rgba(0, 0, 0, 0.5) 4px 4px 4px;
}

a:link {
    color: rgb(98, 30, 255);
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s ease-out, text-shadow 0.2s ease-out;
}

a:visited {
    color: rgb(135, 30, 255);
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s ease-out, text-shadow 0.2s ease-out;
}

a:hover {
    color: rgb(136, 86, 255);
    background-color: transparent;
    text-decoration: underline;
    text-shadow: black 5px 5px 8px, rgb(136, 86, 255) 0 0 10px;
    transition: color 0.2s ease-out, text-shadow 0.2s ease-out;

}

a:active {
    color: rgb(136, 86, 255);
    background-color: transparent;
    text-decoration: underline;
    text-shadow: black 5px 5px 8px, rgb(136, 86, 255) 0 0 10px;
    transition: color 0.2s ease-out, text-shadow 0.2s ease-out;
}